<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Montserrat-Bold.ttf</string>
		<string>Fonts/Montserrat-Italic.ttf</string>
		<string>Fonts/Montserrat-Medium.ttf</string>
		<string>Fonts/Montserrat-Regular.ttf</string>
		<string>Fonts/Montserrat-SemiBold.ttf</string>
		<string>Fonts/MontserratAlternates-Bold.ttf</string>
		<string>Fonts/MontserratAlternates-Italic.ttf</string>
		<string>Fonts/MontserratAlternates-Light.ttf</string>
		<string>Fonts/MontserratAlternates-Medium.ttf</string>
		<string>Fonts/MontserratAlternates-Regular.ttf</string>
		<string>Fonts/MontserratAlternates-SemiBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Dependability</string>
		<key>UIImageName</key>
		<string>Launch Screen-Horizontal</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
